@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: CircularStd;
  font-style: normal;
}

.sidebar-link-icon svg {
  width: 20px;
  height: 20px;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
}
